<header>
  <nav>
    <div class="nav-left">FOUNDORA SYSTEM PROYECTO LP</div>
    <div class="nav-right">
      <a [routerLink]="['/tesoro']">Tesoro</a>
      <a href="#">Recompensas</a>
      <a routerLink="/objetos">Ver Objetos</a>
      <button class="btn-iniciar"> Iniciar</button>
      <button class="btn-registrar">Registrar</button>
    </div>
  </nav>
</header>

<main class="container">
  <div class="form-section">
    <h2>Bienvenido al Sistema de Objetos Perdidos y Encontrados</h2>
    <p>¿Perdiste algo? ¿Encontraste un objeto y quieres devolverlo a su dueño? 
      este sistema te permite registrar objetos perdidos o encontrados, facilitando la conexión entre quienes han extraviado pertenencias y quienes las han encontrado.
       
    </p> 
  </div>
  <div class="image-section">
    <img src="assets/objetoperdido.jpg" alt="Objetos perdidos">
  </div>
</main>
 
