* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

header {
  border-bottom: 1px solid #ddd;
  padding: 20px 40px;
  background-color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-left {
  font-weight: bold;
  font-size: 20px;
}

.nav-right a {
  margin-right: 20px;
  text-decoration: none;
  color: #333;
}

.btn-usuario{
  margin-right: 10px;
  padding: 3px 19px;
  border: 1px solid #000000;
  background: #d3d3d3;
  border-radius: 10px;
  color: #000000;
  cursor: pointer;
}

.btn-registrar {
  margin-right: 10px;
  padding: 4px 15px;
  border: 1px solid #ffffff;
  background: #000000;
  border-radius: 10px;
  cursor: pointer;
}

.container {
  display: flex;
  padding: 40px;
  gap: 40px;
  align-items: flex-start;
}

.form-section {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  width: 350px;
}

.form-section h2 {
  margin-bottom: 10px; 
  font-size: large;
}

.form-section p {
  margin-bottom: 20px;
  font-size: 14px;
  text-align: justify;
  color: #666;
} 
.form-section p {
  margin-bottom: 20px;
  font-size: 14px; 
  color: #666;
} 
 
.image-section img {
  max-width: 700px;
  margin-left: auto;
  border-radius: 5px;  
}
 