<header>
  <nav>
    <div class="nav-left">FOUNDORA SYSTEM</div>
    <div class="nav-right">
      <a href="#">Tesoro</a>
      <a href="#">Recompensas</a>
      <a routerLink="/objetos">Ver Objetos</a>
      <button class="btn-iniciar">Iniciar</button>
      <button class="btn-registrar">Registrar</button>
    </div>
  </nav>
</header>

<main class="container">
  <div class="form-section">
    <h2>Objetos Perdidos</h2>
    <p>¡Localiza objetos perdidos o encontrados!</p>
    <form>
      <label for="articulo">¿Qué perdiste o encontraste?</label>
      <input [(ngModel)]="articulo" name="articulo" type="text" id="articulo" placeholder="Ingresa el Artículo">

      <label for="lugar">Dónde se perdió o se encontró</label>
      <select [(ngModel)]="lugar" name="lugar" id="lugar">
        <option value="">Lugar</option>
        <option value="parque">Parque</option>
        <option value="escuela">Escuela</option>
        <option value="oficina">Oficina</option>
      </select>

      <label for="descripcion">Descripción</label>
      <textarea [(ngModel)]="descripcion" name="descripcion" id="descripcion" placeholder="Descríbelo"></textarea>

      <button type="button" (click)="entregarArticulo()" class="btn-entregar">Entregar artículo perdido</button>
      <button type="button" (click)="enviarEncontrado()" class="btn-encontrado">Enviar artículo encontrado</button>
    </form>
  </div>
  <div class="image-section">
    <img src="assets/objetoperdido.jpg" alt="Objetos perdidos">
  </div>
</main>
 
