<div class="perfil-container">
  <div class="perfil-card">
    <div class="perfil-header">
      <div class="avatar">
        <img src="assets/user.png" alt="icono de usuario" />
      </div>
      <h2>Perfil de Usuario</h2>
      <p>Gestiona tu información personal</p>
    </div>

    <div *ngIf="usuario; else noUsuario" class="perfil-info">
      <div class="info-item">
        <label>Nombre:</label>
        <span>{{ usuario.username }}</span>
      </div>
      <div class="info-item">
        <label>Correo:</label>
        <span>{{ usuario.email }}</span>
      </div>
      <div class="info-item">
        <label>Estado:</label>
        <span>Cuenta Activa</span>
      </div>
      <div class="info-item">
        <label>Seguridad:</label>
        <span>Protegida</span>
      </div>
    </div>
    
    <div class="flex justify-center mt-6 w-full">
      <div class="flex justify-center w-full">
        <button pButton label=" Cerrar sesión" icon="pi pi-sign-out" class="p-button-danger" (click)="cerrarSesion()"></button>
      </div>
    </div>

    <ng-template #noUsuario>
      <p class="no-user">No se encontró información del usuario.</p>
    </ng-template>
  </div>
</div>
 